
html,
:root {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font: 400 1.125rem $main-font;
  color: #000000;

  &.modal-open {
    overflow: hidden;
    height: 100%;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.dynamic-content {
  //p {
  //  font-size: 16px;
  //  line-height: 1.7;
  //  margin-bottom: 1.25em;
  //}

}








