.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 7.1%;
//  @include respond-to($xxl) {
//
//  }
//  @include respond-to($xl) {
//    max-width: 1130px;
//  }
//  @include respond-to($lg) {
//    max-width: 1080px;
//  }
//  @include respond-to($md) {
//    max-width: 100%;
//    padding-left: 40px;
//    padding-right: 40px;
//  }
//  @include respond-to($xs) {
//    padding: 0 20px;
//  }
}